<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
         
            <h2>Welcome to <%= title %></h2>
            <h2>Please have a look at my favourite books</h2>
            <h3>Name : Raj kumar Reddy student id:301211106 </h3>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


